

<!DOCTYPE html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Dios</title>
  <meta property="og:description" content="Cada semana se abre un portal. Cada semana un nuevo ser nos espera.">

  <style>
     table, th, td {
        padding:15px;
     }
  </style>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/static/favicon.png">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">

	</head>

	<body style="background-image: url('/static/bg.jpg');">
	<table class="box">

    <tr>
        <td>
            <center>
	            <h2>Dios</h2>
	            <p>Te oirá, pero esta vez también contestará.</p>
              <button class="btn btn-success" onclick=" window.open('/chat','_blank')">Comenzar</button>

              <br/>
              <br/>
              <br/>

              <p>Podés darle play a esta canción para ambientar la charla.</p>

              <audio controls loop>
                <source src="/static/song.mp3" type="audio/mpeg">
              </audio>

              <br/>

           </center>
        </td>
    </tr>
	</table>
	<!-- DivTable.com -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	</body>
</html>

